<div class="payment-section">

    <app-header></app-header>

    <div class="process">
        <div class="process--content">
            <!-- item 1 -->
            <div class="process__item">
                <img src="assets/media/icons/check.svg" alt="check" class="process__item--check" />
                <p class="process__item__text--mobile">Ingresa</p>
                <p class="process__item__text--desktop">Ingresa</p>
            </div>
            <div class="process--divider passed"></div>

            <!-- item 2 -->
            <div class="process__item">
                <img src="assets/media/icons/check.svg" alt="check" class="process__item--check" />
                <p class="process__item__text--mobile">Sede</p>
                <p class="process__item__text--desktop">Selecciona sede</p>
            </div>
            <div class="process--divider passed"></div>

            <!-- item 3 -->
            <div class="process__item">
                <img src="assets/media/icons/check.svg" alt="check" class="process__item--check" />
                <p class="process__item__text--mobile">Fecha y médico</p>
                <p class="process__item__text--desktop">Selecciona fecha y médico</p>
            </div>
            <div class="process--divider passed"></div>

            <!-- item 4 -->
            <div class="process__item">
                <img src="assets/media/icons/check.svg" alt="check" class="process__item--check" />
                <p class="process__item__text--mobile">Paga</p>
                <p class="process__item__text--desktop">Paga</p>
            </div>
        </div>
    </div>

    <!-- main content -->
    <main role="main" class="container-xl pb-5 animate__animated animate__fadeIn">
        <div class="row mt-5 flex-column flex-md-row">
            <div class="col col-md-5 px-md-3">
                <p class="main-parr color-sec-2 text-center text-md-left mb-4">
                    <span class="font-weight-bold">{{nombre}}</span>, gracias por confiar en
                    nosotros. En breve te enviaremos un correo con los pasos para
                    conectarte a la videollamada.<br /><br />Si tienes alguna duda o consulta
                    llamanos al 01 <span style="display: inline-block;">01 <u>739 0888</u></span>

                </p>
                <div class="lady--desktop">
                    <img src="assets/media/icons/lady.svg" alt="Safe checkout" loading="lazy" />
                </div>
            </div>
            <div class="col col-md-7 px-3 px-md-0">
                <div class="jumbotron bg-light border-round-2" *ngIf="detalle">
                    <div class="px-3 px-md-0 px-lg-3">
                        <div class="row mb-4">
                            <div class="col">
                                <h4 class="text-center color-sec-2 font-weight-bold">
                                    Tu Cita Online ha sido reservada con éxito
                                </h4>
                            </div>
                        </div>
                        <!-- details row 0 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Comprobante:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    <a target="_blank" href="{{detalle.urlPdf}}">Descargar <strong>Boleta de
                                            Venta</strong></a>
                                </p>
                            </div>
                        </div>
                        <!-- details row 1 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Paciente:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    {{detalle.paciente}}
                                </p>
                            </div>
                        </div>
                        <!-- details row 2 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Sede:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    {{detalle.sede}}
                                </p>
                            </div>
                        </div>
                        <!-- details row 3 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Especialidad:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    Medicina Física y Rehabilitación
                                </p>
                            </div>
                        </div>
                        <!-- details row 4 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Médico:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    Dr. {{detalle.medico}}
                                </p>
                            </div>
                        </div>
                        <!-- details row 5 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Fecha:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    {{detalle.fecha | date:'EEEE, d \'de\' MMMM y' | titlecase}}
                                </p>
                            </div>
                        </div>
                        <!-- details row 6 -->
                        <div class="row">
                            <div class="col-1 min-w-2">
                                <p class="color-sec-2 font-weight-bold">
                                    Hora:
                                </p>
                            </div>
                            <div class="col flex-grow-1">
                                <p class="color-sec-2">
                                    {{detalle.hora | date:'h:mm a' }}
                                </p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <p class="color-sec-2">
                                    Si deseas ver más detalles de tu cita puedes ir a tu
                                    intranet de paciente.
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-danger animate__animated animate__headShake" role="alert" *ngIf="errors"
                            style="margin-top: 5px">
                            {{errors}}
                        </div>
                        <!-- card footer -->
                        <div class="row mt-5">
                            <div
                                class="col d-flex justify-content-between justify-content-md-center align-items-center flex-column flex-sm-row-reverse flex-md-column flex-lg-row-reverse">
                                <button type="button" class="button mb-3 mb-sm-0 mb-md-3 mb-lg-0"
                                    (click)="openUrl('https://pacientes.centromedicoosi.com/')">
                                    <span>Ir a mi Intranet</span>
                                </button>
                                <button type="button" class="button button--ghost  mr-md-5"
                                    (click)="openUrl('https://www.centromedicoosi.com/')">
                                    <span>Visitar la web</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col lady--mobile">
                <img src="assets/media/icons/lady.svg" alt="Safe checkout" loading="lazy" />
            </div>
        </div>
    </main>
</div>